.container.list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.back-btn {
  position: absolute;
  top: 20px;
  color: white;
  left: 20px;
  border: 2px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
}
.movie-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 70%;
  margin: 0 auto;
}
.image-container img {
  width: 400px;
  height: 500px;
}
.movie-title {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.movie-title h2 {
  color: white;
  font-size: 2.5rem;
}
.movie-rating {
  color: white;
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 3px 7px 0 5px;
}
.movie-rating svg {
  font-size: 20px;
}
.movie-rating span {
  position: relative;
  top: -5px;
}
.info {
  display: flex;
  gap: 10px;
  color: white;
}
.info .item {
  opacity: 0.9;
}
.genre-container {
  display: flex;
  gap: 7px;
  margin: 7px 0;
}
.genre-container .genre {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 10px;
}
.movie-description p {
  color: white;
  opacity: 0.7;
}
.movie-button{
   text-align: center;
   padding: 2rem;
}
@media (max-width: 1150px) {
  .movie-container {
    max-width: 85%;
  }
  .image-container img {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 992px) {
  .movie-container {
    max-width: 90%;
  }
  .image-container img {
    width: 330px;
    height: 430px;
  }
  .movie-title h2 {
    font-size: 2.25rem;
  }
}
@media (max-width: 768px) {
  .movie-container {
    max-width: 95%;
  }
  .image-container img {
    width: 300px;
    height: 400px;
  }
  .movie-title h2 {
    font-size: 2.1rem;
  }
}
@media (max-width: 710px) {
  .movie-container {
    flex-wrap: wrap;
  }
  .image-container img {
    width: auto;
    height: 500px;
  }
}
